@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
    body{margin:0px; padding:0px; overflow: hidden;  }
    a{text-decoration: none; color:black;}
    ul, li{list-style: none; padding-left:0px; margin: 0px;}
    .first_menu::after{content:'';display:block; clear:both;}
    section{position: absolute; width:100%; height: 100%;}
    header {
      position:fixed;	
      display:flex; flex-direction: row;
      justify-content: space-between;
      width:100%;
      background:linear-gradient(rgba(255, 255, 255, 0.027) 80px, rgba(71, 71, 71, 0.5) 80px,  rgba(71, 71, 71, 0.5) 80px );
      height:80px; 
      overflow:hidden;
      border-bottom:  1px solid #fff;
      z-index: 999;
    }
    header .topic{position:absolute; display: inline-block; margin-left:8% ; margin-top:5px; padding-top: 15px; width:75px; height: 45px; }
    header .topic img{width:100%; height: 100%;}

    nav { margin-left: 28%; height: 80px;}
    nav > ul > li {display: inline-block; line-height: 80px; margin:0 35px; color:#fff;}
    nav > ul > li > a{color:#fff; font-size: 18px;}
    nav > ul > li ul{ width:100%; display: none; position: absolute; }
    nav > ul > li ul li {line-height: 30px; }
    nav > ul >li ul li a{font-size: 15px; color:#fff}

    header .top_option{display: inline-block; width:340px;}
    header .option_01, .option_02{float: left; margin-top:25px;}
    header .option_01{width:150px; margin-right: 10px;} header .option_02{width:80px;}
    .selectbox{ position:relative; height: 28px; border: 1px solid #999; z-index: 1; }
  .selectbox::before{  /* 화살표 대체 */
      content: "";position: absolute;  top:50%;right: 15px; width:0;height: 0;
      margin-top: -1px;border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #333;}
  .selectbox label{position: absolute;line-height: 28px;left: 5px; color:#999; z-index: -1; }
  .selectbox select{ width:100%; height: auto;line-height: normal;font-family: inherit;padding: .8em .5em;border: 0;
      opacity: 0; filter: alpha(opacity=0);
      -webkit-appearance: none; /* 네이티브 외형 감추기*/  -moz-appearance: none; appearance: none; }
    

    
    section #quick_menu ul {position:fixed; display: inline-block; bottom:100px; width:100%; height: 20px; text-align: center; margin:0 auto; z-index: 100;}
    section #quick_menu ul li{ display: inline-block; width:120px; height: 20px; font-size: 17px; font-weight: bold; border-right:1px solid white;} 
    section #quick_menu ul li a{color:white; }
    section #quick_menu ul li a:hover{color:green;}
    section #quick_menu ul li.on a{color:green;}

    section .mouse_div{position:fixed; display: inline-block; z-index: 100; width:100%; height: 35px; text-align: center; bottom: 20px;}
    section .mouse_div img{ width:40px; height: 35px; }
    
    section #section_01{width:100vw; height: 100vh;}
    section #section_01 .section_img{position: absolute; text-align: center; width:100%; margin-top:160px; vertical-align: baseline; }
    section #section_01 .section_img img{width:650px; height: 115px;}
    section #section_01 .section_img .section_p{font-size:45px; color:white;}
    section #section_01 .section_img strong{font-size: 50px;}
    section #section_01 .section_img .section_ul{display: inline-block;  }
    section #section_01 .section_img .section_ul ul li{float:left; margin:110px 50px; width:110px; height: 110px; background:  rgba(53, 53, 53, 0.7); border-radius: 50%;}
    section #section_01 .section_img .section_ul ul li .bgflogo{display: block; margin: 35px auto; width:65px; height: 40px;} 
    section #section_01 .section_img .section_ul ul li .bgf{display: block; margin: 25px auto; width:55px; height: 60px;}
    section #section_01 .section_img .section_ul ul li .cu{display: block; margin: 18px auto; width:75px; height: 70px; }  
    section #section_01 .section_img .section_ul span{display:inline-block; color:white; font-weight: bold; font-size: 16px; margin-top: 10px;  }
    section #section_02{width:100vw; height: 100vh;}
    section #section_02 .section_img{position: absolute; text-align: center; width:100%; margin-top:160px; vertical-align: baseline; }
    section #section_02 .section_img img{width:324px; height: 56px;}
    section #section_02 .section_img .section_p{margin-top:20px; font-size:50px; color:white;}
    section #section_02 .section_img .section_sub_p{margin-top:140px; margin-bottom: 40px; font-size:25px; color:white; letter-spacing:7px;}
    section #section_02 .section_img a{border: 2px solid white; color:white; padding:8px 40px; font-size: 16px;}
    section #section_03{width:100vw; height: 100vh;}
    section #section_03 .section_img{position: absolute; text-align: center; width:100%; margin-top:120px; vertical-align: baseline; }
    section #section_03 .section_img img{width:302px; height: 110px;}
    section #section_03 .section_img .section_p{font-size:50px; color:white;}
    section #section_03 .section_img .section_sub_p{margin-top:140px; margin-bottom: 40px ; font-size:25px; color:white; letter-spacing:7px;}
    section #section_03 .section_img a{border: 2px solid white; color:white; padding:8px 40px; font-size: 16px;}
    section #section_04{width:100vw; height: 100vh;}
    section #section_04 .section_img{position: absolute; text-align: center; width:100%; margin-top:130px; vertical-align: baseline; }
    section #section_04 .section_img img{width:483px; height: 100px;}
    section #section_04 .section_img .section_p{margin-top:5px; font-size:50px; color:#fff;}
    section #section_04 .section_img .section_sub_p{margin-top:140px; margin-bottom: 40px; font-size:25px; color:white; letter-spacing:7px;}
    section #section_04 .section_img a{border: 2px solid white; color:white; padding:8px 40px; font-size: 16px;}
    section #section_05{width:100vw; height: 100vh;}
    section #section_05 .section_img{position: absolute; text-align: center; width:100%; margin-top:130px; vertical-align: baseline; }
    section #section_05 .section_img img{width:327px; height: 95px;}
    section #section_05 .section_img .section_p{margin-top:15px; font-size:45px; color:white;}
    section #section_05 .section_img .section_sub_p{margin-top:140px; margin-bottom: 40px; font-size:25px; color:white; letter-spacing:7px;}
    section #section_05 .section_img a{border: 2px solid white; color:white; padding:8px 40px; font-size: 16px;}
    section #section_06{width:100vw; height: 100vh;}
    section #section_06 .section_img{position: absolute; text-align: center; width:100%; margin-top:150px; vertical-align: baseline; }
    section #section_06 .section_img img{width:511px; height: 95px;}
    section #section_06 .section_img .section_p{font-size:50px; color:white;}
    section #section_06 .section_img .section_sub_p{margin-top:140px; margin-bottom: 40px; font-size:25px; color:white; letter-spacing:7px;}
    section #section_06 .section_img a{border: 2px solid white; color:white; padding:8px 40px; font-size: 16px;}
    section #section_07{width:100vw; height: 100vh;}
    section #section_07 .section_img{position: absolute; text-align: center; width:100%; margin-top:140px; vertical-align: baseline; }
    section #section_07 .section_img img{position: relative; width:778px; height: 173px;}
    section #section_07 .section_img .section_p{position:absolute; text-align: center; width:100%;font-size:45px; color:white;}
    section #section_07 .section_img .section_sub_p{margin-top:140px; margin-bottom: 40px; font-size:25px; color:white; letter-spacing:7px;}
    section #section_07 .section_img a{border: 2px solid white; color:white; padding:8px 40px; font-size: 16px;}
    section #section_08{width:100vw; height: 100vh;}
    section #section_08 .section_img{position: absolute; text-align: center; width:100%; margin-top:120px; vertical-align: baseline; }
    section #section_08 .section_img img{width:512px; height: 130px;}
    section #section_08 .section_img .section_p{font-size:50px; color:white;}
    section #section_08 .section_img .section_sub_p{margin-top:140px; margin-bottom: 40px; font-size:25px; color:white; letter-spacing:7px;}
    section #section_08 .section_img a{border: 2px solid white; color:white; padding:8px 40px; font-size: 16px;}

    .animate_slideInup{animation: slideInUp 0.5s ease-in-out;}

    .section_img{opacity: 0;}
    .section_img.animate_slideInup{opacity: 1;}

    section #section_01 img,section #section_02 img,section #section_03 img, section #section_04 img
    ,section #section_05 img,section #section_06 img,section #section_07 img, section #section_08 img{width:100%; height: 100%;}

    @keyframes slideInUp {
        from { 
          -webkit-transform: translate3d(0, 30%, 0);
          transform: translate3d(0, 30%, 0);
          opacity: 0;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          
        }
    }

    @supports (-ms-ime-align:auto){
      section #section_01 .section_img{ margin-top:200px; }
      section #section_01 .section_img .section_ul ul li{float:left; margin:130px 50px; width:110px; height: 110px; background:  rgba(53, 53, 53, 0.7); border-radius: 50%;}
      section #section_02 .section_img{margin-top:210px; }
      section #section_02 .section_img .section_p{margin-top:30px;}
      section #section_02 .section_img .section_sub_p{margin-top:170px;}
      section #section_03 .section_img{margin-top:180px; }
      section #section_03 .section_img .section_sub_p{margin-top:160px; margin-bottom:60px}
      section #section_04 .section_img{margin-top:198px; }
      section #section_04 .section_img .section_sub_p{margin-top:140px; margin-bottom:58px}
      section #section_05 .section_img{margin-top:194px; }
      section #section_05 .section_img .section_p{margin-top:8px;}
      section #section_05 .section_img .section_sub_p{margin-top:150px; margin-bottom:52px}
      section #section_06 .section_img{margin-top:198px; }
      section #section_06 .section_img .section_p{margin-top:8px;}
      section #section_06 .section_img .section_sub_p{margin-top:144px; margin-bottom:52px}
      section #section_07 .section_img{margin-top:188px; }
      section #section_07 .section_img .section_p{position: absolute;}
      section #section_07 .section_img .section_sub_p{margin-top:164px; margin-bottom:52px}
      section #section_08 .section_img{margin-top:174px; }
      section #section_08 .section_img .section_p{margin-top:10px;}
      section #section_08 .section_img .section_sub_p{margin-top:150px; margin-bottom:54px}

    }

    